body{
  background-color:salmon
}
h3{
  color:khaki;
  font-family: 'Times New Roman', Times, serif;
}
p{
  color:brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 3px 3px;
}